$reddish: #C06C84;
$peach: #F8B195;
$blue: #355C7D;
$plum: #6C5B7B;
$pink: #F67280;

.playground-header {
  background-color: $peach;
  margin-bottom: -10px;
}

.playground-header h1 {
  color: $plum;
  text-align: center;
  padding: 15px;
}

.poro-list {
  background-color: $blue;
  margin-top: -20px;
}

.poro-panel {
  background-color: $pink;
  margin: 20px;
  width: 25%
}

.featured {
  box-shadow: 10px 10px 5px #888888;
}

.poro-panel img {
  width: 55%;
  padding: 20px;
  display: block;
  margin: 0 auto;
}

.columns:last-child:not(:first-child) {
  float: left;
}

.link-panel a {
  border: 2px solid $reddish;
  background-color: $reddish;
  padding: 15px 20px;
  color: white;
  display: block;
  text-align: center;
}

#poro-land {
  background-color: $plum;
}

#poro-land img {
  margin: 0 auto;
  width: 50%;
  display: block;
  padding: 50px;
}
